---
Checks: >
  cppcoreguidelines-*,
  hicpp-*,
  bugprone-*,
  readability-*,
  misc-*,
  google-*,
  -llvmlibc-restrict-system-libc-headers,
  -altera-unroll-loops,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cert-err34-c,
  -cert-err33-c,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -bugprone-easily-swappable-parameters,
  -clang-diagnostic-gnu-folding-constant,
  -clang-diagnostic-gnu-designator,
  -readability-isolate-declaration,
  -hicpp-braces-around-statements,
  -hicpp-deprecated-headers,
  -hicpp-signed-bitwise,
  -hicpp-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-macro-usage,
  -google-readability-todo,
  -misc-no-recursion,
  -google-objc-function-naming,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -bugprone-assignment-in-if-condition
ExtraArgs: [
  "-std=c17",
  "-pedantic",
  "-Wall",
  "-Wextra",
  "-Wuninitialized",
  "-Wfloat-equal",
  "-Wshadow",
  "-Wbad-function-cast",
  "-Wcast-qual",
  "-Wcast-align",
  "-Wwrite-strings",
  "-Wconversion",
  "-Wunreachable-code",
  "-Wformat=2",
  "-Winit-self",
  "-Wstrict-prototypes",
  "-Wmissing-declarations"
]
