; ~/.gitconfig

[user]
	name = gruvw
	email = gruvw.dev@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = store
[pull]
	rebase = false
[merge]
	tool = code
[mergetool]
	writeToTemp = true
	keepBackup = false
[mergetool "code"]
	cmd = code --wait -m $REMOTE $LOCAL $BASE $MERGED
