; ~/.gitconfig

[user]
	name = gruvw
	email = gruvw.dev@gmail.com

[init]
	defaultBranch = main

[credential]
	helper = store

[pull]
	rebase = false

[merge]
    conflictstyle = diff3
    tool = code

[mergetool]
	writeToTemp = true
	keepBackup = false

[mergetool "code"]
	cmd = code --wait -m $REMOTE $LOCAL $BASE $MERGED

[core]
    pager = delta

[interactive]
    diffFilter =  delta --color-only --features=interactive

[delta]
    features = decorations navigation
    navigate = true
    ; side-by-side = true
    line-numbers = true

[delta "decorations"]
    dark = true
    syntax-theme = gruvw
    zero-style = syntax

    commit-decoration-style = bold yellow ul

    hunk-header-decoration-style = none
    hunk-header-style = syntax italic

    file-added-label = [A]
    file-copied-label = [C]
    file-modified-label = [M]
    file-removed-label = [D]
    file-renamed-label = [R]

    file-decoration-style = "#f7f1ff"
    file-style = "#f7f1ff" bold

    line-numbers-left-format = " {nm:>1} :"
    line-numbers-right-format = " {np:>1} │ "

    line-numbers-left-style = "#8b888f"
    line-numbers-minus-style = red bold
    line-numbers-plus-style = green bold
    line-numbers-right-style = "#8b888f"
    line-numbers-zero-style = "#8b888f"

    ; Diff
    minus-style = syntax "#4A2D35"
    minus-emph-style = syntax "#713949"
    minus-non-emph-style = minus-style
    plus-style = syntax "#324336"
    plus-emph-style = syntax "#42644A"
    plus-non-emph-style = plus-style

    ; Moved code blocks
    map-styles = \
       bold purple => syntax "#373545", \
       bold blue => syntax "#2C4246", \
       bold cyan => syntax "#4A372B", \
       bold yellow => syntax "#4A452E"

    blame-format = "{author:<18} {commit:<6} {timestamp:<15}"

[diff]
    colorMoved = default

[rerere]
	enabled = true

[alias]
lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
