/* custom CSS properties needs GTK4, https://github.com/Alexays/Waybar/issues/4411 */
@define-color bg #1F1F1F;
@define-color bg-light #292929;
@define-color green #69FC9A;
@define-color white #F4F4F4;
@define-color separator rgba(255, 255, 255, 0.5);
@define-color red #FC6982;
@define-color orange #FC9A69;

* {
    font-family: "FiraCode Nerd Font";
    font-size: 13.5px;
    color: @white;
    transition: 0s;
}

window#waybar {
    background-color: @bg;
    /* border-bottom: 3px solid @bg-light; */
}

button {
    border: none;
    border-radius: 0;
}

#clock:hover, #battery:hover {
    background: @bg-light;
}

/* hover background + separator */
#network:hover, #pulseaudio:hover, #memory:hover {
    background-size: 1px 100%, 100% 100%;
    background-repeat: no-repeat;
    background-position: right center, center center;
    background-image: linear-gradient(
        to bottom,
        transparent 20%,
        @separator 20%,
        @separator 80%,
        transparent 80%
    ), linear-gradient(@bg-light, @bg-light);
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button:hover {
    background: @bg-light;
    /* use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0px 2px 0px 0px @white;
}

/* active workspace */
#workspaces button.focused {
    box-shadow: inset 0px 2px 0px 0px @green;
}
#workspaces button.urgent {
    background-color: @red;
}

#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 0 8px;

    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: linear-gradient(
        to bottom,
        transparent 20%,
        @separator 20%,
        @separator 80%,
        transparent 80%
    );
}

#battery {
    padding: 0 8px;
    margin-right: 0;
    border-right: none;
}

#pulseaudio {
    padding-right: 14px;
}

#backlight {
    padding-right: 10px;
}

#network {
    padding-right: 12px;
}

#network.disconnected {
    color: @orange;
}

#cpu.warning, #memory.warning, #temperature.warning {
    color: @orange;
}

#cpu.critical, #memory.critical, #temperature.critical {
    color: @red;
}

#battery.full, #battery.charging, #battery.plugged {
    color: @green;
}
#battery.warning:not(.charging) {
    color: orange;
}
#battery.critical:not(.charging) {
    color: @red;
}

#tray {
}

tooltip {
  background-color: @bg;
  border: 2px solid @green;
  border-radius: 0;
}

tooltip label {
  color: @white;
  padding: 0;
}
